
@{
    ViewBag.Title = "AddPackages";
}
<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount">Admin</h1>
        <div class="AdminAccount-form">
            <h2 class="Column2" style="color:black">Documents Review</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Account/Index/" type="button" class="btn btn-primary btn-responsive"> Back</a>

            <div class="container-fluid">
                <img style="max-width:400px; margin-top: 10px; margin-left: 100px;max-height: 500px; margin-bottom: 100px;" alt="Nokia" src="~/images/5.jpg">
            </div>
            <input type="submit" value="Approve" class="btn btn-primary btn-responsive" onclick="return confirm('Are you sure you wish to Add Package?');" />
            <input type="submit" value="DisApprove" class="btn btn-primary btn-responsive" onclick="return confirm('Are you sure you wish to Add Package?');" />
        </div>
    </div>
</div>