@{
    ViewBag.Title = "About";
}


<div id="about">
    <div class="container" style="text-align: center; margin: 80px;color:black">
        <div class="abouttext" style="color:black">
            <h1 style="margin-bottom: 50px;color:black">Employee Loan Management System</h1>
            <p>If you are a person who want a Loan than you have come to the right place!</p>
            <p>Management of financial data in a firm is vital. An efficient loan management helps you to store and track the financial data.</p>
            <p>Now Manage your employee loans in this Employee Loan Management System module.!</p>
            <p>View all the current running loans, approved and rejected requests from the dashboard. Approve/disapprove loan request from employees.</p>
            <p>Moreover, the deduction for the current month's wil be automatically done.</p>
       
        </div>
    </div>
</div>
