
@{
    Layout = null;
}

<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount"></h1>
        <div class="AdminAccount-form">

            <h2 class="Column2" style="color:black">Employee Loan</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Admin/loanrequest/" type="button" class="btn btn-primary btn-responsive"> Back</a>
            <p class="listText" style="color:black">Add Required Loan Documents</p>
        </div>
    </div>
</div>